html,
body {
    height: 100%;
    margin: auto;
    padding: 0;
    background-color: #1f1f1f;
    color: #dcdcdc;
    font-family: sans-serif;
    max-width: 800px;
}

body {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    body {
        border-style: solid;
        border-color: #282c34;
        border-top: 0;
        border-bottom: 0;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    margin-right: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.spin-once {
    animation: spin .7s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

h1 {
    margin: 0;
    padding: 10px;
    color: #ffffff;
}

#messages {
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    padding: 20px;
    touch-action: pan-y;
}

/* hide the scrollbar */
#messages::-webkit-scrollbar {
    width: 0.5em;
    /* set the width of the scrollbar */
}

#messages::-webkit-scrollbar-track {
    background-color: #282c34;
    /* set the background color of the scrollbar track */
}

#messages::-webkit-scrollbar-thumb {
    background-color: #4c4f5a;
    /* set the background color of the scrollbar thumb */
    border-radius: 999px;
    /* round the edges of the scrollbar thumb */
}

#messages::-webkit-scrollbar-thumb:hover {
    background-color: #6c6f7a;
    /* set the background color of the scrollbar thumb when hovering */
}

.message .content {
    background-color: #3e424c;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 10px;
    margin-bottom: 0;
}

.message.assistant .content {
    background-color: #2c313d;
}

.message.user {
    max-width: calc(min(80%, 400px));
    align-self: flex-end;
}

.message.user .content {
    background-color: #4c4f5a;
}

.message.user .timestamp {
    text-align: left;
}

.quote {
    color: #4287f5;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

form>textarea {
    flex: 1 1 auto;
    font-size: 17px;
    font-family: sans-serif;
    line-height: 1.5;
    resize: none;
    padding: 5px;
    padding-left: 8px;
    margin-right: 4px;
    background-color: #333538;
    color: inherit;
    border-radius: 6px;
    border-style: none;
}

form>button {
    flex: 0 0 auto;
    align-self: flex-end;
    border-style: solid;
    border-radius: 10px;
    border-style: none;
    background-color: #a9abbb;
}
