html,
body {
    height: 100%;
    margin: auto;
    padding: 0;
    background-color: #1f1f1f;
    color: #dcdcdc;
    font-family: sans-serif;
    max-width: 800px;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 10px;
    color: #ffffff;
    background-color: #1f1f1f;
}

#messages {
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    padding: 20px;
    touch-action: pan-y;
}

/* hide the scrollbar */
#messages::-webkit-scrollbar {
    width: 0.5em;
    /* set the width of the scrollbar */
}

#messages::-webkit-scrollbar-track {
    background-color: #282c34;
    /* set the background color of the scrollbar track */
}

#messages::-webkit-scrollbar-thumb {
    background-color: #4c4f5a;
    /* set the background color of the scrollbar thumb */
    border-radius: 999px;
    /* round the edges of the scrollbar thumb */
}

#messages::-webkit-scrollbar-thumb:hover {
    background-color: #6c6f7a;
    /* set the background color of the scrollbar thumb when hovering */
}

.message {
    margin-bottom: 10px;
}

.message .content {
    background-color: #3e424c;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 10px;
}

.message.assistant .content {
    background-color: #2c313d;
}

.message.user {
    text-align: right;
}

.message.user .content {
    background-color: #4c4f5a;
}

.message.user .timestamp {
    text-align: left;
}

.quote {
    color: #4287f5;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

form>input {
    flex: 1 1 auto;
    font-size: 16px;
    line-height: 1.5;
    font-size: 16px;
    line-height: 1.5;
}

form>button {
    flex: 0 0 auto;
}

input[type="text"] {
    font-size: 16px;
    line-height: 1.5;
}

button {
    line-height: 1.7;
}

@media screen and (min-width: 768px) {
    input[type="text"] {
        font-size: 18px;
        line-height: 1.8;
    }

    button {
        line-height: 2.2;
    }
}